body{
    background: url(Imagenes/NF.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin-left: 20px;
    margin-right: 20px;
    margin: 0;
    height: 100%;
}

p{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;   
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    background-color: black;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    height: 85px;
    margin-right: 10px;
}

nav {
 background-color: black;
}

nav a {
    background-color: black;
    display: inline-flex;
    padding-right: 5px;
    padding-left: 5px;
    color: lightgray; 
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    font-size: 15px;
}

nav a:hover {
    background-color: pink;
    color: blue;
}

h1{
    color: whitesmoke;
    font-size: 18;
}

table{
    margin-left: 20px;
    margin-right: 20px;
}

table td{
  background-color: black;
  color: aliceblue;
  border-collapse: collapse;
  font-size: larger;
  border-color: aqua red pink greenyellow;
  border-style: dotted dotted dotted;
  border-width: 5px 5px 5px;
  text-align: center;
  font-size: 15px;
}

table td:hover{
    background-color: lightcyan;
    color: black;
    border-color: darkblue darkred indigo darkgreen;
    border-style: dotted dotted dotted;
}

.qs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
    text-align: center;
    gap: 16px;
    border: 10px double fuchsia;
    margin-left: 60px;
    margin-right: 60px;
}

.foto{
    max-width: 390px; 
    max-height: 190px;
    padding: 10px;
}

.nombre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        color: white;
        text-align: center;
}

