body{
    background: url(Imagenes/NF.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    padding: 10px;
    background-color: black;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    height: 85px;
    margin-right: 10px;
}

nav {
 background-color: black;
}

nav a {
    background-color: black;
    display: inline-flex;
    padding-right: 5px;
    padding-left: 5px;
    color: lightgray; 
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    font-size: 15px;
}

nav a:hover {
    background-color: pink;
    color: blue;
}

.container {
    display: flex;
    height: 635px;
    margin-left: 20px;
    margin-right: 10px;
}

.menu {
    width: 20%;
    background-color: midnightblue; 
    padding: 20px;
    height: 100vh;
}

.paginas {
    flex: 1;
    padding: 20px;
}

.frame {
    width: 1000px;
    height: 635px;
    border: none;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 28px;
}